{% extends "base.html" %}
{% block title %} - Home{% endblock %}
{% block content %}

{% if error %}
	<div class="alert alert-danger" role="alert"><b>{{error.title}}</b> {{error.msg}}</div>
{% endif %}
<p>
Welcome to lyrics generator! Just enter the melody in LilyPond format and enter the title of the song and I'll do the rest!
</p>
<form action="/" method="POST">
<div class="form-group">
  <label for="title">Song title</label>
<div class="input-group">
  <input type="text" class="form-control" id="title" name="title" value="{% if title %}{{title}}{% endif %}"/>
  <span class="input-group-btn">
    <button class="btn btn-default" id="suggest_title" type="button">Suggest random title</button>
  </span>
</div>
</div>

<div class="form-group">
  <label for="song">Song in <a target="_blank" href="http://www.lilypond.org/">LilyPond</a> format</label>
  <textarea class="form-control" rows="5" id="song" name="song">{% if song %}{{song}}{% endif %}</textarea>
</div>

<button type="submit" value="Send" class="btn btn-default" id="submit" > <span class="glyphicon glyphicon-music" aria-hidden="true"></span> Gimme some lyrics</button>
<button class="btn btn-default" id="get_sample" > Get example song</button>
</form>

{% if song %}
	<h2>Sing this!</h2>
	<pre>{{lyrics}}</pre>

	<p>
	<button class="btn btn-danger" id="rating_bad" type="button">Bad</button>
	<button class="btn btn-default" id="rating_neutral" type="button">Neutral</button>
	<button class="btn btn-success " id="rating_good" type="button">Good</button>
	</p>

	<div>
	<object data="{{ url_for('static', filename='output.pdf') }}?v={{version}}" type="application/pdf" width="100%" height="500">
	alt : <a href="{{ url_for('static', filename='output.pdf') }}">test.pdf</a>
	</object>
	</div> 	
{% endif %}

<script>

var lyrics = "{{lyricdata}}";
jQuery( "#suggest_title" ).click(function() {
	jQuery.get( "/get_title", function( data ) {
  		jQuery( "#title" ).val( data );
	});
});

jQuery( "#submit" ).click(function(event) {
	if (jQuery( "#title" ).val().trim() == "" || jQuery( "#song" ).val().trim() == "") {
		alert("Song and title must be given!");
		event.preventDefault();
	}
});

jQuery( "#get_sample" ).click(function(event) {
	event.preventDefault();
	jQuery( "#song" ).val( "r16 c d e f d e c g'8 c b c\nd16 g, a b c a b g d'8 g f g\ne16 a g f e g f a g f e d c e d f\ne d c b a c b d c b a g fis a g b" );
});

jQuery( "#rating_bad" ).click(function() {
	jQuery.post( "/rate/-1", { 'lyrics': lyrics });
});

jQuery( "#rating_neutral" ).click(function() {
	jQuery.post( "/rate/1", { 'lyrics': lyrics });
});

jQuery( "#rating_good" ).click(function() {
	jQuery.post( "/rate/2", { 'lyrics': lyrics });
});
</script>

{% endblock %}